.contact-container {
  min-height: calc(100vh - 197px - 120px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__logos-container {
    display: flex;
    justify-content: center;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__list-item {
    list-style: none;
    filter: drop-shadow(0 0 5px #ffffff);
  }
  &__link {
    width: 120px;
    height: 120px;
    perspective: 1000px;
    display: inline-block;

    &:hover {
      z-index: 10;
    }
  }
  &__highlight-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 9999px;
    transition: all 300ms ease-out;
  }
  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: all 300ms ease-out;
    border-radius: 9999px;
    mix-blend-mode: hard-light;
    background: radial-gradient(
      circle at 50% 0%,
      rgb(184, 196, 211),
      transparent
    );
  }
}
