#home {
  .home-title {
    min-height: calc(100vh - 197px - 120px);
    display: grid;

    &__text {
      font-size: 5rem;
      height: calc(100vh - 197px - var(--padding-top-section));
      display: grid;
      place-items: center;
      filter: drop-shadow(0 0 0.75rem #fff);

      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }
}
