.videos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-items: center;
  grid-gap: 20px;
  padding-top: 200px;
  margin-inline: 20px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(1, 1fr);
  }

  iframe {
    border-radius: 10px;
    // filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.5));
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
    max-width: 100%;
    aspect-ratio: 16/9;
  }
}
