:root {
  --color-primary: #f3f3f3;
  --color-secondary: #0a0a0a;
  --bg-videos: blur(10px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  margin-bottom: 50px;
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: #0a0a0a;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #f3f3f3;
  position: relative;
}
.main-wrapper {
  max-width: 1440px;
  min-height: 100vh;
  min-height: 100svh;
  overflow-x: hidden;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
section {
  margin: 50px 20px;
  flex-grow: 1;
  z-index: 2;
}
