@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf')
    format('truetype');
  /* src: url('./assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf'); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}

#root {
  position: relative;
  /* min-height: 100vh; */
  background-color: #0a0a0a;
  font-family: 'Open Sans', sans-serif;
  color: #f3f3f3;
}
.main-wrapper {
  max-width: 1440px;
  /* min-height: 100vh; */
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  filter: brightness(0.4);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
nav li {
  list-style: none;
  margin: 0 1rem;
  font-size: 1.3rem;
  font-style: italic;
  height: 100%;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
